.not-found {
  width: 400px;
  margin: auto;
  text-align: center;
}

.not-found__title {
  font-size: 140px;
  line-height: 169px;
  margin-top: 246px;
}

.not-found__message {
  font-size: 16px;
  margin-top: 5px;
}

.not-found__btn {
  color: #4285F4;
  margin-top: 184px;
}

@media screen and (max-width: 768px) {
  .not-found {
    width: 300px;
  }

  .not-found__message {
    font-size: 12px;
    margin-top: 10px;
  }

  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__btn {
    margin-top: 284px;
    font-size: 12px;
  }
}
