.portfolio {
  width: 1140px;
  height: 405px;
  margin: auto;
  margin-top: 100px;
}

.portfolio__title {
  color: #8B8B8B;
  font-size: 18px;
}

.portfolio__container {
  margin-top: 10px;
  font-size: 30px;
  line-height: 69px;
}

.portfolio__link-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  margin-top: 40px;
}

.portfolio__link-container:last-child {
  border-bottom: none;
}

.portfolio__link{
  display: block;
}

.portfolio__arrow {
  display: block;
}


@media screen and (max-width: 1280px) {
  .portfolio {
    width: 668px;
    height: 369px;
  }

  .portfolio__container {
    margin-top: 10px;
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    width: 292px;
    height: 274px;
  }

  .portfolio__container {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__title {
    color: #8B8B8B;
    font-size: 14px;
  }
}
