.header {
  width: 1140px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 18px;
  position: relative;
}

.header-auth {
  font-size: 12px;
}

.header-auth__signin {
  color: white;
  font-weight: 500;
}

.header-auth__signup {
  color: black;
  background-color: #3DDC84;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  margin-left: 30px;
  font-weight: 500;
}

.header__nav {
  font-size: 13px;
  margin-left: 60px;
}

.header__link {
  cursor: pointer;
}

.header__link:first-child {
  margin-right: 16px;
}

.header__menu-btn {
  cursor: pointer;
  transition: 0.5s;
  display: none;
}

.header__menu-btn:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.active-link {
  font-weight: 500;
}

.header__account-container {
  display: flex;
  align-items: center;
}

.header__account-button {
  width: 30px;
  height: 30px;
  background: #313131;
  border-radius: 6px;
  background-image: url(../../images/icon__COLOR_icon-main.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 13px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .header {
    width: 708px;
  }

  .header__link {
    display: none;
  }

  .header__account-container {
    display: none;
  }

  .header__menu-btn {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 300px;
  }

  .header-auth {
    font-size: 10px;
  }

  .header-auth__signup {
    margin-left: 14px;
  }

  .header__menu-container {
    width: 320px;
    padding-top: 144px;
  }
}
