.techs {
  background: #272727;
  width: 1280px;
  margin: auto;
}

.techs__container {
  width: 1140px;
  height: 625px;
  margin: auto;
}

.techs__title {
  padding-top: 100px;
}

.techs__subtitle {
  text-align: center;
  font-size: 50px;
  margin-top: 90px;
}

.techs__description {
  text-align: center;
  margin: auto;
  width: 460px;
  margin-top: 26px;
}

.techs__tech-container {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  justify-content: space-between;
  gap: 10px;
  margin: auto;
  width: 690px;
  text-align: center;
  margin-top: 100px;
}

.techs__tech {
  width: 90px;
  height: 60px;
  line-height: 60px;
}

@media screen and (max-width: 1280px) {
  .techs {
    width: 768px;
  }

  .techs__container {
    width: 668px;
    height: 567px;
  }

  .techs__title {
    padding-top: 90px;
  }

  .techs__subtitle {
    margin-top: 80px;
  }

  .techs__description {
    margin-top: 22px;
    font-size: 12px;
  }

  .techs__tech-container {
    margin-top: 83px;
    font-size: 12px;
    grid-template-columns: repeat(7, 84px);
  }

  .techs__tech {
    width: 84px;
    height: 57px;
    line-height: 57px;
  }
}

@media screen and (max-width: 768px) {
  .techs {
    width: 320px;
  }

  .techs__title {
    padding-top: 70px;
    width: 284px;
  }

  .techs__container {
    width: 292px;
    height: 651px;
  }

  .techs__subtitle {
    margin-top: 60px;
    font-size: 30px;
  }

  .techs__description {
    margin-top: 24px;
    font-size: 11px;
    width: 292px;
  }

  .techs__tech-container {
    margin-top: 71px;
    grid-template-columns: repeat(2, 84px);
    justify-content: center;
    width: 292px;
  }
}
