.about-me {
  width: 1140px;
  margin: auto;
}

.about-me__title {
  margin-top: 110px;
}

.about-me_container {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me_info-container {
  width: 600px;
}

.about-me__name {
  font-size: 50px;
}

.about-me__discription {
  font-weight: 500;
  font-size: 18px;
  margin-top: 18px;
}

.about-me__adout {
  margin-top: 30px;
  line-height: 22px;
}

.about-me__link-container {
  margin-top: 95px;
}

.about-me__link {
  font-weight: 500;
}

.about-me__link:first-child {
  margin-right: 20px;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}


@media screen and (max-width: 1280px) {
  .about-me {
    width: 668px;
  }

  .about-me__title {
    margin-top: 90px;
  }

  .about-me__discription {
    font-size: 12px;
    margin-top: 18px;
  }

  .about-me__adout {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me_info-container {
    width: 364px;
  }
}

@media screen and (max-width: 768px) {
  .about-me {
    width: 292px;
  }

  .about-me__title {
    margin-top: 70px;
  }

  .about-me__name {
    font-size: 30px;
  }

  .about-me__discription {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__adout {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    order: 0;
  }

  .about-me_container {
    flex-direction: column;
    margin-top: 66px;
  }

  .about-me_info-container {
    width: 292px;
    order: 1;
    margin-top: 40px;
  }
}
